# Archivos sensibles
.env
credentials.json
client_secrets.json
ids_procesados.json
settings.yaml
token.json
ids_procesados.json
env

# Carpeta donde guardas los adjuntos descargados
adjuntos_guardados/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.log

# Archivos generados por editores
.vscode/
.idea/
venv/
