<!-- templates/panel.html -->
<h1>Bienvenido al panel</h1>

<ul>
  <li><a href="{{ url_for('remitentes.lista_remitentes') }}">📧 Ver remitentes registrados</a></li>
  <li><a href="{{ url_for('destinatarios.lista_destinatarios') }}">📲 Ver Destinatarios</a><br></li>
  <li><a href="#">📜 Historial de notificaciones</a> <!-- pronto con url real --></li>
</ul>

<br>
<a href="{{ url_for('main.logout') }}">Cerrar sesión</a>

<hr>
<h2>📋 Últimas acciones realizadas</h2>
<ul>
  {% for log in logs %}
    <li>
      📅 {{ log.fecha.strftime('%Y-%m-%d %H:%M:%S') }} — 
      👤 <strong>{{ log.usuario.username }}</strong> — 
      📝 {{ log.accion|capitalize }} {{ log.entidad }}: {{ log.detalle }}
    </li>
  {% endfor %}
</ul>
